<div class="error-template">
  <h1>Oops! Shortcut not found</h1>

  <div class="error-actions">
    <%= link_to(root_url, class: 'btn btn-primary btn-lg') do %>
      <span class="glyphicon glyphicon-home"></span> Take Me Home
    <% end %>

    <%= link_to('#', class: 'btn btn-default btn-lg') do %>
      <span class="glyphicon glyphicon-envelope"></span> Contact Support
    <% end %>
  </div>
</div>
